*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(rgb(0, 110, 255), white, rgb(78, 114, 245));
    height: 100%;
}
.header{
    height: 8vw;
    width: 96%;
    margin: 4vh 2% 0 2%;
    background-color: #00798c;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;

}
.logo{
    color: white;
    font-size: 1.5em;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    font-size: 1.2em;
    

}
.nav-links a{
    text-decoration: none;
    color:white;
}
/* .nav-links a:hover{
    color:red;
    font-size:1.2em;
    background-color: goldenrod;
} */
.marquee{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #003d5b;
    width: 96%;
    height: 4vw;
    margin: 0 2% 0 2%;
    padding: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#marquee{
color: white;

/* ---------------------------index-------------------------------------------- */


}
.main{
    height: 80vh;
    width: 96%;
    margin: 2%;
    padding: 2% 3%;
    background: url(../bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* gap: 6rem; */
}
.details, .top-places{
    height:33%;
    width: 40%;
    margin-top: 2%;
}
.details h1{
    font-size:2em;
    margin-bottom: 5%;
}
.details p{
    font-size: 0.8em;
    word-spacing: 0.8em;
    line-height: 1.4;
}
.top-places{
    display: flex;
    flex-direction: column;
}
.top-places h1{
    font-size: 2em;
    margin-bottom: 5%;
}
.main-links a{
    text-decoration: none;
    color: black;
    background: linear-gradient(goldenrod, goldenrod, white);
    padding: 2%;
    display: inline-block;
    margin: 1%;
    border-radius: 0.4em;
}
footer{
    background-color: black;
    color: white;
    padding-left: 2%;
}

@media (min-width: 500px) and (max-width: 700px){

    .details, .top-places{
    height: 48%;
    width: 50%;
}
.main{
    background-position: right;
    justify-content: space-evenly;
}
.logo{
    font-size: 1.2em;
}
.nav-links{
    font-size: 1em;
}
#marquee{
    height:6vw;
    padding: 0.1em;
    padding-top: 0.7vw;
    font-size: 1em;
}}
@media (min-width: 100px) and (max-width: 555px){
    .header{
        flex-direction: column;
        height: 20vw;
        justify-content: space-around;
    }
    .main{
        justify-content: space-around;
        background-position: center;
    }
    .logo{
        font-size:1em;
    }
    .nav-links{
        font-size: 0.8em;
    }
    .details, .top-places{
    height: 45%;
    width: 100%;
}
#marquee{
    height: 6vw;
    padding-top: 0.7vw;
    font-size: 0.8em;
}
footer{
    font-size: 0.5em;
}
}
/* ----------------------------index end--------------------------- */


/* ---------------------------- east indian places (inactive css) */
.area-main{
    width: 96%;
    margin: 2%;
    /* height: 160vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1vw;

}
.indian-places{
    height:20vw;
    width: 100%;
    border-radius: 1em;
    display: flex;
    justify-content:left;
    gap:2%;
    padding: 1% 2%;
    /* align-items: center; */
}
.area-div-image{
    height:18vw;
    width:18vw;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.image-div-indian-places{
    height: 98%;
    display: flex;
    align-items: center;
}
.area-div-text{
    height: 18vw;
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10%;
}
.area-div-text h1{
    font-size: 2em;
}
.area-div-text a{
    text-decoration: none;
    color:white;
    float: right;
    margin-right: 12%;
    border: 2px solid aquamarine;
    padding: 1%;
    border-radius: 1em;
}
#east-indian{
    background-color: #d1495b;
}
#west-indian{
    background-color: #30638e;
}
#north-indian{
    background-color: #edae49;
}
#south-indian{
    background-color: #003d5b;
}

#east-india{
    background-image: url(/placesstete/eastindia.jpeg);
}

#west-india{
    background-image: url(/placesstete/westindia.jpeg);
}

#north-india{
    background-image: url(/placesstete/northindia.webp);
}

#south-india{
    background-image: url(/placesstete/southindia.webp);
}


@media (min-width:700px) and (max-width:961px){
    .area-div-text{
        gap:5%;
    }
    .area-div-text h1{
        font-size: 1.8em;
    }
    .indian-places{
        height: 25vw;
    }
}
@media (min-width: 500px) and (max-width:700px){
    .area-div-text h1{
        font-size: 1.2em;
    }
    .area-div-text p{
        font-size: 0.8em;
    }
    .area-div-text{
        gap:5%;
    }

    .area-div-text{
        width:85%;
    }
    .indian-places{
        height: 30vw;
        padding: 2%;
    }
}
@media (min-width: 100px) and (max-width:500px){
    .area-div-text h1{
        font-size: 1.9em;
        color:#003d5b;
    }
    .area-div-text p{
        font-size: 0.8em;
        color:black;
        position: absolute;
        visibility: hidden;
    }
    .area-div-text a{
        background-color: #edae49;
        margin-right: 5%;
        border: none;
        padding: 1% 2%;
    }
    .area-div-text{
        gap:15%;
        width: 96%;
        height: 96%;
        justify-content: space-between;
    }
    .indian-places{
        height: 35vh;
        padding: 2%;
        justify-content: space-evenly;
    }
    .image-div-indian-places{
        position: absolute;
        visibility: hidden;
        height: 0;
        width:0;
    }

    #east-indian{
    background-image: url(/placesstete/eastindia.jpeg);
    background-size: cover;
}
#west-indian{
    background-image: url(/placesstete/westindia.jpeg);
    background-size: cover;
}
#north-indian{
    background-image: url(/placesstete/northindia.webp);
    background-size: cover;
}
#south-indian{
    background-image: url(/placesstete/southindia.webp);
    background-size: cover;
}
}
/* ---------------------------- east indian places end (inactive css) -----------------------*/

.east-indian-places{

    width: 96%;
    height: 70vw;
    margin: 2%;
    padding: 2%;
    /* border: 2px double black; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4% 4%;
}
.east-indian-places-div{
    height: 20vw;
    width: 20vw;
    border: 0.3em solid #003d5b;
    background-size: cover;
    border-radius: 1em;
    padding: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 300Ms;
}
.east-indian-places-div:hover{
    box-shadow: 0px 4px 4px 4px #045bde3d;
    border-color: greenyellow;
    scale: 1.02;
    
}
.east-indian-places-h1{
    color:white;
    font-size: 2vw;
}
.east-indian-places-links{
    width: 100%;
    display: flex;
    justify-content: right;
    
}
.east-indian-places-links a{
    text-decoration: none;
    color: white;
    background-color: #d1495b;
    padding: 4%;
    font-size: 1vw;
    border-radius: 1em;
}
#Varanasi{

    background-image: url(../places-backgrounds/varanshi/varanshi1.jpg);

}
#Jaipur{
    background-image: url(../places-backgrounds/jaipur/jaipur1.jpg);
}
#Kerala{
    background-image: url(../places-backgrounds/kerala/kerala1.jpg);
}
#Goa{
    background-image: url(../places-backgrounds/goa/goa1.jpg);
}
#Ladakh{
    background-image: url(../places-backgrounds/ladhak/ladhak1.jpg);
}
#Himalayas   { background-image: url(../places-backgrounds/himalaya/himalaya1.jpg);
}

#Andaman{
    background-image: url(../places-backgrounds/andman/andman1.jpg);
}
#Khajuraho{
    background-image: url(../places-backgrounds/Khajuraho/k1.jpg);
}
#GoldenTemple{
    background-image: url(../places-backgrounds/goldentample/golden-tample3.jpg);
    background-position: center;
}
#RannOfKutch{
    background-image: url(../places-backgrounds/kutch/kutch1.jpg);
}
#Meghalaya{
    background-image: url(../places-backgrounds/meghalaya/maghalya1.jpg);
}
#TajMahal{
    background-image: url(../places-backgrounds/tajmahal/taj-mahal.jpg);
}

@media (min-width: 700px) and (max-width:1200px){
    .east-indian-places{
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 130vw;
    }
    .east-indian-places-div{
        height: 28vw;
        width: 28vw;
    }
    .east-indian-places-h1{
    font-size: 3vw;
}
.east-indian-places-links a{
    font-size: 2vw;
}
}
@media (min-width: 500px) and (max-width:700px){
    .east-indian-places{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1% 4%;
    height: 285vw;
    }
    .east-indian-places-div{
        height: 44vw;
        width: 44vw;
    }
    .east-indian-places-h1{
    font-size: 4vw;
}
.east-indian-places-links a{
    font-size: 3vw;
}
}
@media (min-width: 100px) and (max-width:500px){
    .east-indian-places{
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns:  1fr;
    gap: 1%;
    height: 1250vw;
    }
    .east-indian-places-div{
        height: 90vw;
        width: 90vw;
    }
    .east-indian-places-h1{
    font-size: 8vw;
}
.east-indian-places-links a{
    font-size: 6vw;
}
}
 
/* ======================================================================= */

.heading-places{

    height: 10vw;
    margin: 2%;
    width: 96%;
    background-color: #edae49;
    border-radius:1em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-places h1{
    font-size: 5vw;
    text-transform: uppercase;
}
.heading-places h1 span{
    font-size: 2vw;
    text-transform: lowercase;
    font-style: italic;
    
}
.place-main-div{
    margin: 0 2% 0 2%;
    width: 96%;
    background-color: white;
    border-radius: 3vw;
    padding: 2%;
}
.places-details-info{
    height: 38vw;
    width: 100%;
    border-radius: 4vw;
    display: flex;
    padding: 4vw;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);

    
}
.background-image-place, .place-text-area{
    height: 95%;
    width: 48%;
    overflow: hidden;
}
.place-text-area{
    font-size: 18px;
    word-spacing: 0.7vw;
    line-height: 1.3;
    overflow: auto;
}
.background-image-place{
    border: 4px solid #003d5b;
    border-radius: 3vw;
    transition-duration: 300ms;
}
.background-image-place img{
    transition-duration: 500ms;
}
.background-image-place img:hover{
    scale: 1.05;
}
.background-image-place img{
    height: 100%;
    width: 100%;
}

.location{
    /* height: 20vw; */
    width: 100%;
    color:white;
    /* border: 1px solid black; */
    background-color: #00798c;
    padding: 2%;
    margin-top: 3vw;
    margin-bottom: 3vw;
    border-radius: 1vw;
    display: flex;
    box-shadow: 0 0 15px #003d5b;
}
.location-details h1{
    display: inline-block;
}
.location-details{
    height: 100%;
    width: 40%;
    /* background-color: #003d5b; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.location-map{
    height: 100%;
    width:60%;
    /* background-color: #d1495b; */

}


.photo-gallery{
    height:45vw;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    border-radius: 3vw;
    padding: 2%;
    background-color: #ffffff;
}
.gallery{
    background-color: #7bebff;
    border-radius: 3vw;
    margin: 2%;
    /* height: 98%;
    width:98%; */
        overflow: hidden;
    transition-duration: 1s;

}
.gallery:hover{

    scale: 1.05;

}
.gallery img{
    height: 100%;
    width: 100%;
}
#image1{
    background-color: #edae49;
    grid-row-start: 1;
    grid-row-end:3 ;
    
}
#image2{
    background-color: #7ecb09;
    grid-column-start: 2;
    grid-column-end:4 ;
    grid-row-start: 1;
    grid-row-end:3 ;
}
#image3{
    background-color: #b949ed;
    grid-column-start: 4;
    grid-column-end:5 ;
    grid-row-start: 1;
    grid-row-end:3 ;
} 
#image4{
    background-color: #bf9a60;
    grid-column-start: 2;
    grid-column-end:4 ;
}
#image5{
    background-color: #4964ed;
    grid-row-start: 3;
    grid-row-end:5 ;
    grid-column-start: 1;
    grid-column-end:3;
}
#image6{
    background-color: #ffec81;
    grid-column-start: 3;
    grid-column-end:5;
    grid-row-start: 3;
    grid-row-end:5 ;
}


.place-tips{
    padding:3vw;
    background-color: #003d5b;
    border-radius: 2vw;
    color: white;
    line-height: 1.6;
    padding-left: 5vw;
}
.place-tips h2{
    color: #edae49;
}
.local-tourist-guide{
        margin: 3vw;
        width: auto;
        white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
        gap: 3vw;
        display: flex;

}

.local-tourist-card{
    margin: 2vw 0;
    height: 300px;
    width: 250px;
    transition-duration: 700ms;
}
.local-tourist-card:hover{
    box-shadow: 0 0 14px #edae49;
    scale: 1.01;
}
.local-tourist-card-image{
    height: 60%;
}
.local-tourist-card-image img{
    height: 100%;
    width: 100%;
}
.local-tourist-guide-text{
    height: 40%;
    width: 100%;
    background-color: black;
    color: white;
    padding: 2vw;
    line-height: 1.3;
}
.local-tourist-guide-text h4{
    color: #edae49;
    font-size: 2vw;
}
.local-services{
    /* height: 25vw; */
    margin-top: 2vw;
    padding: 2vw;
    border-radius: 2vw;
    display: flex;
    justify-content: space-between;
}
.local-services h3{
    font-size: 3vw;
    color: rgb(138, 5, 5);
}
.table-local-contact{
    margin-top: 2vw;
    height: 10vw;
    width: 80%;
    text-align: center;
}
.places-to-visit{
    width: 48%;
    background-color: #edae49;
    padding: 1vw;
    border-radius: 2vw;

}
.table-places-for-vist{
    margin-top: 2vw;
    height: 60%;
    width: 100%;
    text-align: center;
}
#local-guide-heading{
    color: #edae49;
    padding: 2vw;
    background-color: #d1495b;
}

@media (min-width: 100px) and (max-width:800px){
    .location{
        flex-direction: column;
        gap: 20px;
    }
    .location-map{
        width: 100%;
    }
    .location-details{
        gap: 10px;
        width: 100%;
    }
    .local-services{
        flex-direction: column;
        gap: 2vw;
        
    }
    .places-to-visit{
        width: 98%;
        padding: 3vw;
    }
}
@media (min-width: 100px) and (max-width:500px){

    .places-details-info{
        flex-direction: column;
        height: 120vw;
        gap: 2vw;

    }
    .background-image-place, .place-text-area{
        width: 100%;
        height: 50%;
    }
}

/* ------------------about page */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.about{
    padding: 2vw;
    /* padding-right: 20%; */
}
.about h2{
    font-size: 40px;
}
.about h3{
    font-size: 30px;
}
.about p{
    font-size: 20px;
    /* background-color: #E5E5E5; */
    line-height: 2;
    
    color: #14213D;
}
.about div{
    background-color: #E5E5E5;
    padding: 2vw;
    border-radius: 1vw;
}
/* ------------------------------------------------- */